body {
    width: 100%;
    min-height:100%;
    background: 
      linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
      url('./img/2.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.form_block{
    width: 70%;
    display: table;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
  }
  .form_block > #title{
    background: #1E90FF;
    padding: 10px;
   
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.2);
  }
  .form_block > .body{
    background: #FFFFFF;
    padding: 10px;
    display: table;
    width:97%;
    height: 350px;
  }
  
  input[type='text'],input[type='password'] {
      font-size: 20px;
    height: 35px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 4px 5px;
    background: #fff;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .loginBtn{
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    background: #1E90FF;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    margin-top: 40px;
  }
  .loginBtn:hover{
    background: #c3c3ba;
  }
  .registerBtn{
    float: right;
    background: #1E90FF;
    color: #fff;
    height: 35px;
    box-sizing: border-box;
    padding: 4px 10px;
    border: 1px solid #d0d0d0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: -35px;
    font-size: 22px;
  }
  .registerBtn:hover{
    background:#778899;
  }
  .Error{
    padding: 10px;
    background-color: #feeaea;
    border: 1px solid #fadadb;
    margin-bottom: 10px;
    border-radius: 3px;
  }
  .Spinner{
    display: table;
    margin: 0 auto;
  }
  .Spinner > .ImgSpinner {
    max-width: 30px;
  }